* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat",sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  background-color: white;
}

.nav-link {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  background-color: black;
}

.navbar-brand {
  color: black;
  font-size: 1.25em;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
}

/* main section */
.main .container {
  background: none;
}

.main {
  background: url(temple3.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.main h3 {
  font-size: 4.4rem;
  font-weight: 700;
}

.main h6 {
  font-size: 1.4rem;
  text-transform: capitalize;
  line-height: 1;
  /* border-bottom: solid rgb(255, 34, 34); */
  /* width: 40%; */
}

.main .bt1 {
  height: 55px;
  width: 138px;
  background-color: rgb(255, 34, 34);
  color: white;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

.main .bt1:hover {
  background-color: white;
  color: rgb(255, 34, 34);
}

.main .bt2 {
  height: 55px;
  width: 138px;
  border: none;
  background-color: white;
  color: rgb(255, 34, 34);
  outline: solid rgb(255, 34, 34);
  font-weight: bold;
  border-radius: 5px;
}

.main .bt2:hover {
  background-color: rgb(255, 34, 34);
  color: white;
}

.about img {
  -webkit-box-shadow: 10px 10px 33px 10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 33px 10px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 33px 10px rgba(0, 0, 0, 1);
}

.about h1 {
  font-size: 3rem;
  font-weight: 900;
}

.about .skill1 {
  color: white;
  background-color: orangered;
  height: 55px;
  width: 138px;
  border-radius: 20%;
  border: none;
  outline: none;
}

.about .skill2 {
  color: white;
  background-color: orange;
  height: 55px;
  width: 138px;
  border-radius: 20%;
  border: none;
  outline: none;
}

.about .skill3 {
  color: white;
  background-color: purple;
  height: 55px;
  width: 138px;
  border-radius: 20%;
  border: none;
  outline: none;
}

.about .skill4 {
  color: white;
  background-color: red;
  height: 55px;
  width: 138px;
  border-radius: 20%;
  border: none;
  outline: none;
}

.about .list-inline-item {
  background: none;
  padding-right:1em;
  margin: 1em;
  border: none;
}

.about .list-inline-item i {
  font-size: 3em;
}

.about .list-inline-item:hover {
  color: blue;
}


.social{
  background-color: #353b48;
}
.social .container{
  background : transparent;
}
.social .container h2{
  color: aliceblue;
}
.social .container .social-buttons i{
 margin: 5rem;
 font-size: 3em;
}