* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat",sans-serif;
}
.social .container{
  background: #353b48;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


html {
  scroll-behavior: smooth;
}

.container {
  background-color: white;
}

.nav-link {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  background-color: black;
}

.navbar-brand {
  color: black;
  font-size: 1.25em;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
}

/* main section */
.main .container {
  background: none;
}

.main {
  background: url(temple3.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.main h3 {
  font-size: 4.4rem;
  font-weight: 700;
}

.main h6 {
  font-size: 1.4rem;
  text-transform: capitalize;
  line-height: 1;
  /* border-bottom: solid rgb(255, 34, 34); */
  /* width: 40%; */
}

.main .bt1 {
  height: 55px;
  width: 138px;
  background-color: rgb(255, 34, 34);
  color: white;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

.main .bt1:hover {
  background-color: white;
  color: rgb(255, 34, 34);
}

.main .bt2 {
  height: 55px;
  width: 138px;
  border: none;
  background-color: white;
  color: rgb(255, 34, 34);
  outline: solid rgb(255, 34, 34);
  font-weight: bold;
  border-radius: 5px;
}

.main .bt2:hover {
  background-color: rgb(255, 34, 34);
  color: white;
}

.about img {
  -webkit-box-shadow: 10px 10px 33px 10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 33px 10px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 33px 10px rgba(0, 0, 0, 1);
}

.about h1 {
  font-size: 3rem;
  font-weight: 900;
}

.about .skill1 {
  color: white;
  background-color: orangered;
  height: 55px;
  width: 138px;
  border-radius: 20%;
  border: none;
  outline: none;
}

.about .skill2 {
  color: white;
  background-color: orange;
  height: 55px;
  width: 138px;
  border-radius: 20%;
  border: none;
  outline: none;
}

.about .skill3 {
  color: white;
  background-color: purple;
  height: 55px;
  width: 138px;
  border-radius: 20%;
  border: none;
  outline: none;
}

.about .skill4 {
  color: white;
  background-color: red;
  height: 55px;
  width: 138px;
  border-radius: 20%;
  border: none;
  outline: none;
}

.about .list-inline-item {
  background: none;
  padding-right:1em;
  margin: 1em;
  border: none;
}

.about .list-inline-item i {
  font-size: 3em;
}

.about .list-inline-item:hover {
  color: blue;
}



/*text writing animation*/
/* .typewriter .text {
  overflow: hidden; 
  border-right: .15em solid orange;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, start),
    blink-caret .75s step-start infinite;
} */

/* The typing effect */
/* @keyframes typing {
  from { width: 0 }
  to { width: 100% }
} */

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
} */

.social-buttons a{
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
}

.social-buttons a::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg,#22a6b3,#30336b);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before{
  transform: scale(0);
}

.social-buttons a i{
  transition: 0.3s ease-in;
}

.social-buttons a:hover i{
  background: linear-gradient(45deg,#22a6b3,#30336b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}
